<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='<%= htmlWebpackPlugin.options.style %>'>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="app" class="w-full flex flex-col items-center justify-center">
        <div class="mt-10">
            <img alt="" src="" class="w-20 animate-bounce" id="img"/> 
        </div>            
        <form action="" id="form" class="flex flex-col justify-center space-y-3 items-center">
            <div id="score" class="font-medium">ពិន្ទុ: 0</div>
            <h3 class="font-medium" id="question">តើ ១ គុណ ២ ស្មើប៉ុន្មាន?</h3>
            <input type="number" name="" id="input" class="text-center py-1 shadow-md px-5 rounded-md border-2 border-slate-500 focus:outline-none" placeholder="បញ្ចូលចម្លើយនៅទីនេះ">
            <div>
                <a href="/" class="py-1 shadow-md px-5 mt-6 rounded-md bg-slate-500 border-[1.3px] border-slate-500 text-white active:bg-slate-400">ប្តូរសំណួរ</a>
                <button type="submit" id="btn" class="py-1 shadow-md px-5 rounded-md bg-sky-500 text-white active:bg-sky-400">ឆ្លើយ</button>
            </div>
        </form>

    </div>
</body>
</html>